/*registro.css*/

* {
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EB3B49 url("../assets/images/calendarPatternDark30.png");
    background-size: cover;
}

main {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

main div {
    height: 100%;
    padding: 5%;
}

#izquierda {
    flex: 1;
    background-image: url("../assets/images/calendarBackgroundBlur3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
}

#izquierda header {
    flex: 1;
    font-weight: bold;
}

#izquierda img {
    float: left;
    width: 12%;
    margin-right: 3%;
}

#izquierda h1 {
    font-size: 1.6em;
    color: #EB3B49;
    margin-top: 1%;
}

#izquierda section {
    flex: 3;
}

#izquierda h2 {
    font-size: 2.4em;
    margin-bottom: 7%;
    font: bold;
}

#izquierda p {
    font-size: 1.1em;
    font-weight: 600;
}

#derecha {
    flex: 1.5;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
}

#derecha header {
    flex: 1;
    align-self: flex-start;
}

#derecha h2 {
    font-size: 2em;
    color: #EB3B49;
    margin-bottom: 7%;
}

#derecha p {
    font-size: 0.8em;
}

#derecha p a {
    color: #EB3B49;
    font-weight: bold;
}

#derecha form {
    flex: 6;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
}

#derecha form input {
    margin: 5% auto;
    width: 100%;
    height: 20px;
    font-family: montserrat_alternates;
    border: none;
    border-bottom: 2px solid #EB3B49;
    font-size: 0.9em;
    padding: 2%;
    border-radius: 5px 5px 4px 4px;
    outline: none;
    transition: background-color 0.5s ease-in-out 0s, border-bottom 0.5s ease-in-out 0s;
}

#derecha form input:hover {
    background-color: #ffeeef;
}

#derecha form input:focus {
    border-bottom: 2px solid #83252d;
}

#derecha form button {
    margin-top: 5%;
    font-family: montserrat_alternates;
    padding: 3.5%;
    text-align: center;
    align-self: flex-end;
    background-color: #EB3B49;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    transition: transform 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
}

#derecha form button:hover {
    transform: scale(1.02);
    box-shadow: #a32b35 0px 0px 5px;
    cursor: pointer;
}

#cerrar {
    height: 0.5%;
    width: 0.5%;
    position: absolute;
    right: 17%;
    top: -8%;
}

@font-face {
    font-family: "comfortaa";
    src: url("../assets/fonts/Comfortaa/Comfortaa-Bold.ttf");
}

@font-face {
    font-family: "rubik";
    src: url("../assets/fonts/Rubik/Rubik-Medium.ttf");
}

@font-face {
    font-family: "montserrat_alternates";
    src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf");
}

h1 {
    font-family: comfortaa;
}

h2 {
    font-family: rubik;
}

p, address, small, li{
    font-family: montserrat_alternates;
}

a {
    font-family: montserrat_alternates;
    text-decoration: none;
}