<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalenLab - Editar Calendario</title>
</head>
<body>
    <form action="" id="formulario-editar">
        <input type="text" placeholder="titulo" name="titulo">
        <input type="text" placeholder="descripcion" name="descripcion">
        <input type="text" placeholder="color" name="color">

        <button id="boton-editar" type="button">Editar</button>
    </form>

    <script src="../scripts/editarCalendario.js"></script>
</body>
</html>