<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalenLab - Editar Usuario</title>
    <link rel="icon" href="../assets/icons/calenlabTitleLogo.svg" type="image/svg+xml" sizes="16x16">
    <link rel="stylesheet" href="../styles/editar.css">
</head>
<body>
    <header>
        <div>
            <a href="../views/principal.html"><img src="../assets/icons/arrowLeftWhite.svg" alt="">Editar Cuenta</a>
        </div>
        <div>
            <img src="../assets/icons/userIcon.svg" alt="">
            <h2 id="nomUsuario">Nombre de Usuario</h2>
        </div>
    </header>
    <main>
        <form action="" id="formulario-editar">
            <label for="name">
                <img src="../assets/icons/editPencil.svg" alt="">
                Nombre
            </label>
            <input type="text" placeholder="Nombre" name="name" id="name">

            <label for="lastName">
                <img src="../assets/icons/editPencil.svg" alt="">
                Apellido
            </label>
            <input type="text" placeholder="Apellido" name="lastName" id="lastName">

            <label for="userName">
                <img src="../assets/icons/userIconPink.svg" alt="">
                Nombre de Usuario
            </label>
            <input type="text" placeholder="Nombre de Usuario" name="userName" id="userName">

            <label for="password">
                <img src="../assets/icons/lockIcon.svg" alt="">
                Contrasenia
            </label>
            <input type="password" placeholder="Contrasenia" name="password" id="password">
    
            <button id="boton-editar" type="button" class="boton">Editar Cuenta</button>
        </form>
        <div id="cajaEliminar">
            <div>
                <img src="../assets/icons/deleteIcon.svg" alt="">
                <h2>Eliminar Cuenta</h2>
            </div>
            <div>
                <button type="button" id="eliminar" class="boton">Eliminar</button>
            </div>
        </div>
    </main>

    <script src="../scripts/editarUsuario.js"></script>
    <script src="../scripts/eliminarUsuario.js"></script>
</body>
</html>