<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalenLab - Editar Usuario/title>
</head>
<body>
    <form action="" id="formulario-editar">
        <input type="text" placeholder="Nombre" name="name">
        <input type="text" placeholder="Apellido" name="lastName">
        <input type="text" placeholder="Nombre de Usuario" name="userName">
        <input type="password" placeholder="Contrasenia" name="password">

        <button id="boton-editar" type="button">Editar</button>
    </form>

    <script src="../scripts/editarUsuario.js"></script>
</body>
</html>