<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalenLab - Pagina Principal</title>
    <link rel="icon" href="../assets/icons/calenlabTitleLogo.svg" type="image/svg+xml" sizes="16x16">

    <style>
        td, tr, th, table{
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <!--<form action="" id="formulario-calendario">
        <input type="text" placeholder="titulo" name="titulo">
        <input type="text" placeholder="descripcion" name="descripcion">
        <input type="color" placeholder="color" name="color">

        <button type="button" id="boton-calendario">Enviar</button>
    </form>
    <a href="editarUsuario.html">Editar Usuario</a>
    <button id="eliminar">Eliminar Usuario</button>

    <div id="contenedor-calendarios"></div>

    <form action="" id="formulario-evento">
        <input type="text" placeholder="titulo del evento" name="titulo">
        <input type="date" placeholder="fecha" name="fecha">
        <input type="time" placeholder="hora" name="hora">
        <select name="calendario-evento" id="seleccion-calendario"></select>
        <input type="text" placeholder="Aniadir una descripcion" name="descripcion">
        <input type="text" placeholder="Aniadir una imagen" name="imagen">

        <button type="button" id="boton-evento">Crear Evento</button>
    </form>

    <div id="contenedor-eventos"></div>
    
    <script src="../scripts/mostrarCalendario.js"></script>
    <script src="../scripts/crearCalendario.js"></script>
    <script src="../scripts/eliminarUsuario.js"></script>
    <script src="../scripts/crearEvento.js"></script>-->

    <div>
        <h3 id="mes-anio"></h3>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>DOM</th>
                    <th>LUN</th>
                    <th>MAR</th>
                    <th>MIE</th>
                    <th>JUE</th>
                    <th>VIE</th>
                    <th>SAB</th>
                </tr>
                <tr id="dias">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody id="cuerpo-calendario"></tbody>
        </table>

        <button id="anterior">Anterior</button>
        <button id="siguiente">Siguiente</button>
    </div>

    <script src="../scripts/construirCalendario.js"></script>
</body>

</html>