<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalenLab - Pagina Principal</title>
    <link rel="icon" href="../assets/icons/calenlabTitleLogo.svg" type="image/svg+xml" sizes="16x16">
    <link rel="stylesheet" href="../styles/principal.css">
</head>

<body>
    <header>
        <div>
            <img src="../assets/icons/calenlabLogo.svg" alt="">
            <h1>Calenlab</h1>
        </div>
        <div>
            <div>
                <img src="../assets/icons/userIcon.svg" alt="">
                <h2 id="nomUsuario">Nombre de Usuario</h2>
            </div>
            <a href="editarUsuario.html"><img src="../assets/icons/editIconWhite.svg" alt=""></a>
            <span id="eliminar"><img src="../assets/icons/deleteIconWhite.svg" alt=""></span>
        </div>
    </header>

    <main>
        <!--PRIMER DIV-->
        <div id="barraIzquierda">
            <div id="botones-crear">
                <button type="button" id="crearCalendario">Crear Calendario</button>
                <button type="button" id="crearEvento">Crear Evento</button>
            </div>

            <div id="contenedor-calendarios">
                <h2>Mis Calendarios</h2>
                <div>
                    <input type="radio" name="calendario">
                    <label for="">URU</label>
                    <span><img src="../assets/icons/editIcon.svg" alt=""></span>
                    <span><img src="../assets/icons/deleteIcon.svg" alt=""></span>
                </div>

                <div>
                    <input type="radio" name="calendario">
                    <label for="">Cumpleanios</label>
                    <span><img src="../assets/icons/editIcon.svg" alt=""></span>
                    <span><img src="../assets/icons/deleteIcon.svg" alt=""></span>
                </div>

                <div>
                    <input type="radio" name="calendario">
                    <label for="">Trabajos</label>
                    <span><img src="../assets/icons/editIcon.svg" alt=""></span>
                    <span><img src="../assets/icons/deleteIcon.svg" alt=""></span>
                </div>
            </div>

            <div id="cajaFormularioCalendario">
                <form action="" id="formulario-calendario">
                    <input type="text" placeholder="titulo" name="titulo">
                    <input type="text" placeholder="descripcion" name="descripcion">
                    <input type="color" placeholder="color" name="color">

                    <button type="button" id="boton-calendario">Enviar</button>
                </form>
            </div>

            <div id="cajaFormularioEvento">
                <form action="" id="formulario-evento">
                    <input type="text" placeholder="titulo del evento" name="titulo">
                    <input type="date" placeholder="fecha" name="fecha">
                    <input type="time" placeholder="hora" name="hora">
                    <select name="calendario-evento" id="seleccion-calendario"></select>
                    <input type="text" placeholder="Aniadir una descripcion" name="descripcion">
                    <input type="text" placeholder="Aniadir una imagen" name="imagen">

                    <button type="button" id="boton-evento">Crear Evento</button>
                </form>
            </div>
        </div>

        <!--SEGUNDO DIV-->
        <div id="barraCentro">
            <div>
                <span id="anterior"><img src="../assets/icons/arrowLeft.svg" alt="" width="25"></span>
                <span id="siguiente"><img src="../assets/icons/arrowRight.svg" alt="" width="25"></span>
            </div>
            <div>
                <h2 id="mes-anio"></h2>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>DOM</th>
                                <th>LUN</th>
                                <th>MAR</th>
                                <th>MIE</th>
                                <th>JUE</th>
                                <th>VIE</th>
                                <th>SAB</th>
                            </tr>
                            <tr id="dias">
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="cuerpo-calendario">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--TERCER DIV-->
        <div id="contenedor-eventos">
            <div>
                <h2>Eventos</h2>
            </div>
            <div id="eventos">
                <div>
                    <span><img src="../assets/icons/eventIcon.svg" alt="" width="20"></span>
                    <p>CalenLab</p>
                </div>
                <div>
                    <span><img src="../assets/icons/eventIcon.svg" alt="" width="20"></span>
                    <p>Web II</p>
                </div>
                <div>
                    <span><img src="../assets/icons/eventIcon.svg" alt="" width="20"></span>
                    <P>Seguridad Informatica</P>
                </div>
                <div>
                    <span><img src="../assets/icons/eventIcon.svg" alt="" width="20"></span>
                    <p>Software I</p>
                </div>
                <div>
                    <span><img src="../assets/icons/eventIcon.svg" alt="" width="20"></span>
                    <p>Cumple de Jorge</p>
                </div>
            </div>
        </div>
    </main>

    <script src="../scripts/mostrarCalendario.js"></script>
    <script src="../scripts/crearCalendario.js"></script>
    <script src="../scripts/eliminarUsuario.js"></script>
    <script src="../scripts/crearEvento.js"></script>
    <script src="../scripts/construirCalendario.js"></script>
</body>

</html>