<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalenLab - Registro</title>
    <link rel="icon" href="../assets/icons/calenlabTitleLogo.svg" type="image/svg+xml" sizes="16x16">
    <link rel="stylesheet" href="../styles/registro.css">
</head>

<body>
    <main>
        <div id="izquierda">
            <header>
                <img src="../assets/icons/calenlabLogoPink.svg" alt="CalenLab Logo">
                <h1>CalenLab</h1>
            </header>
            <section>
                <h2>Bienvenido a CalenLab, tu calendario electronico favorito!</h2>
                <p>
                    Crea y Organiza tus Actividades a tu gusto. CalenLab cuenta con un disenio sencillo 
                    que te permitira organizar tu dia a dia segun tus necesidades.
                </p>
            </section>
        </div>
        <div id="derecha">
            <header>
                <h2>Registrarse</h2>
                <p>Ya tiene una Cuenta? <a href="login.html">Inicie Sesion</a></p>
            </header>
            <form action="" id="formulario-registro">
                <input type="text" placeholder="Ingrese su Nombre" name="name">
                <input type="text" placeholder="Ingrese su Apellido" name="lastName">
                <input type="text" placeholder="Escriba un Nombre de Usuario">
                <input type="text" placeholder="Confirma su Nombre de Usuario" name="userName">
                <input type="password" placeholder="Escriba una Contrasenia">
                <input type="password" placeholder="Confirma su Contrasenia" name="password">

                <button type="button" id="boton-registro">Registrarse</button>
            </form>
        </div>
        <div id="cerrar">
            <a href="../../index.html"><img src="../assets/icons/close2.svg" alt="Close Icon"></a>
        </div>
    </main>

    <script src="../scripts/register.js"></script>
</body>

</html>